/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
  $color-pack: false
);

@font-face {
  font-family: "The-Yoshi";
  font-style: normal;
  src: local("The-Yoshi"), url(./The-Yoshi.ttf) format("truetype");
}

@font-face {
  font-family: "Cocogoose";
  font-style: normal;
  src: local("Cocogoose"), url(./Cocogoose-light.ttf) format("truetype");
}

@font-face {
  font-family: "Cocogoose-light";
  font-style: normal;
  src: local("Cocogoose-light"),
    url(./Cocogoose-light-italic.ttf) format("truetype");
}

.v-application .v-application--wrap * {
  font-family: "The-Yoshi" !important;
}
